@model CoursesViewModel



<table id="ExpTable" class="table table-striped border">

    <tr class="table-secondary">
        <td>
            @Html.DisplayNameFor(m => m.Student.Name)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Student.Surname)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Student.BirthDate)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Student.Email)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Student.PhoneNumber)
        </td>
        <td>
        </td>
    </tr>
    @{
        foreach (var item in Model.Student.Students)
        {
            <tr class="table text-black">
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(m => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>
                    <a asp-controller="Courses" asp-action="AddStudentToCourse" asp-route-studentID="@item.ID" asp-route-courseID="@Model.ID" class="btn btn-primary ml-1">Add</a>
                </td>
            </tr>
        }
    }
</table>
